.html-editor {
  display: flex;
  flex-direction: column;
}

.html-editor.auto-grow .rooster-wrapper {
  max-height: 500px;
  min-height: 50px;
}

.html-editor.auto-grow .rooster-wrapper .rooster-editor {
  min-height: 10px;
  max-height: 460px;
}

.html-editor.auto-grow .rooster-wrapper.is-focused {
  min-height: 120px;
}

.html-editor.auto-grow .rooster-wrapper.is-focused .rooster-editor {
  min-height: 80px;
}

.html-editor.auto-grow.edit-only-mode .rooster-wrapper,
.html-editor.auto-grow.edit-only-mode .rooster-wrapper .rooster-editor {
  min-height: 80px;
}

.html-editor.auto-grow.edit-only-mode .rooster-wrapper.is-focused,
.html-editor.auto-grow.edit-only-mode .rooster-wrapper.is-focused .rooster-editor {
  min-height: 80px;
}

.html-editor .rooster-wrapper {
  display: flex;
  flex: 1;
  flex-basis: auto;
  flex-direction: column;
  padding: 1px;
  position: relative;
  overflow: hidden;
  border: solid 1px transparent;
}

.html-editor .rooster-wrapper.with-chrome, .html-editor .rooster-wrapper:hover {
  border-color: rgba( 234, 234, 234 ,  1 );
  border-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.html-editor .rooster-wrapper .rooster-editor {
  flex: 1;
  flex-basis: auto;
  outline: none;
  overflow: auto;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  background-color: var(--background-color,rgba(255, 255, 255, 1));
}

@media screen and (-ms-high-contrast: active) {
  .html-editor .rooster-wrapper .rooster-editor {
    background-color: Background;
  }
}

.html-editor .rooster-wrapper .rooster-editor.show-placeholder::before {
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
}

.html-editor .rooster-wrapper .rooster-editor.view-mode ~ .rooster-command-bar {
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

.html-editor .rooster-wrapper .rooster-editor ul,
.html-editor .rooster-wrapper .rooster-editor ol {
  padding-left: 40px;
}

.html-editor .rooster-wrapper .rooster-editor li {
  list-style: inherit;
}

.html-editor .rooster-wrapper .rooster-editor a {
  text-decoration: underline;
}

.html-editor .rooster-wrapper .rooster-editor a.mention-link:not(:hover) {
  text-decoration: none;
}

.html-editor .rooster-wrapper .rooster-editor pre {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
  float: none;
  clear: left;
  min-width: 100%;
}

.html-editor .rooster-wrapper .rooster-editor button {
  height: auto;
}

.html-editor .rooster-wrapper .rooster-editor blockquote:not([style]) {
  color: rgba(0, 0, 0, .55);
  color: var(--text-secondary-color,rgba(0, 0, 0, .55));
  border-left:  solid;
  border-left-color: rgba( 166, 166, 166 ,  1 ) 3px;
  border-left-color: rgba( var(--palette-neutral-30,166, 166, 166) ,  1 ) 3px;
  padding: 1px 0 1px 15px;
  margin: 12px 0;
}

.html-editor .rooster-wrapper .rooster-editor blockquote:not([style]) > p,
.html-editor .rooster-wrapper .rooster-editor blockquote:not([style]) ol,
.html-editor .rooster-wrapper .rooster-editor blockquote:not([style]) ul {
  margin: 4px 0;
}

.html-editor .rooster-wrapper.is-focused {
  border-color: rgba(0, 120, 212, 1);
  border-color: var(--communication-background,rgba(0, 120, 212, 1));
}

.html-editor.is-hidden {
  display: none;
}

.html-editor.full-screen {
  position: absolute;
  left: 4px;
  right: 0;
  bottom: 5px;
  top: 46px;
}

.html-editor.full-screen .rooster-wrapper,
.html-editor.full-screen .rooster-wrapper .rooster-editor {
  height: 100%;
  max-height: 100%;
}

.html-editor .rooster-command-bar .html-command-bar-base {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
}

.html-editor .rooster-command-bar .rooster-command-bar-icon,
.html-editor .rooster-command-bar button:hover:not([disabled]) .rooster-command-bar-icon {
  color: rgba( 51, 51, 51 ,  1 );
  color: rgba( var(--palette-neutral-80,51, 51, 51) ,  1 );
}

.html-editor .html-command-bar-button:active, .html-editor .html-command-bar-button.is-checked {
  background: rgba( 218, 218, 218 ,  1 );
  background: rgba( var(--palette-neutral-10,218, 218, 218) ,  1 );
}

.html-editor .rooster-command-bar button:not(:hover):not(:active):not(:focus):not(.is-checked) {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
}

.rooster-callout .rooster-command-bar-overflow button:not(:hover):not(:active):not(:focus):not(.is-checked) {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
}

.rooster-callout .rooster-command-bar-overflow .rooster-command-bar-icon,
.rooster-callout .rooster-command-bar-overflow button:hover:not([disabled]) .rooster-command-bar-icon {
  color: rgba( 51, 51, 51 ,  1 );
  color: rgba( var(--palette-neutral-80,51, 51, 51) ,  1 );
}

.rooster-callout .rooster-command-bar-color-container,
.rooster-callout .rooster-command-bar-color-item {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
}

.rooster-callout .rooster-command-bar-color-item button:before {
  border: 2px solid rgba(255, 255, 255, 1);
  border: 2px solid var(--background-color,rgba(255, 255, 255, 1));
}

.rooster-callout .html-command-bar-button:active, .rooster-callout .html-command-bar-button.is-checked {
  background: rgba( 218, 218, 218 ,  1 );
  background: rgba( var(--palette-neutral-10,218, 218, 218) ,  1 );
}

.rooster-emoji-callout button {
  font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding: 0;
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-navbar {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-navbar-button {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
  border-bottom:  solid 1px;
  border-bottom-color: rgba( 218, 218, 218 ,  1 );
  border-bottom-color: rgba( var(--palette-neutral-10,218, 218, 218) ,  1 );
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-navbar-button:hover {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-navbar-selected {
  border-bottom: solid 2px rgba(0, 120, 212, 1);
  border-bottom: solid 2px var(--communication-background,rgba(0, 120, 212, 1));
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-navbar-icon {
  color: rgba( 51, 51, 51 ,  1 );
  color: rgba( var(--palette-neutral-80,51, 51, 51) ,  1 );
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-status-bar {
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
  border-top:  solid 1px;
  border-top-color: rgba( 218, 218, 218 ,  1 );
  border-top-color: rgba( var(--palette-neutral-10,218, 218, 218) ,  1 );
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-icon {
  padding: 0;
  background: rgba(255, 255, 255, 1);
  background: var(--background-color,rgba(255, 255, 255, 1));
}

.rooster-emoji-callout .rooster-emoji-pane .rooster-emoji-selected {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.rooster-emoji-button {
  font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.custom-hash-tag-icon:before {
  content: "#";
  font-style: normal;
}

body .is-focusVisible .ms-Callout-container .rooster-callout .ms-ContextualMenu-item button:focus {
  background: rgba( 234, 234, 234 ,  1 );
  background: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

body .ms-Callout-container .rooster-callout .ms-Callout-main {
  padding: 0;
}

body .ms-Callout-container .rooster-callout .ms-ContextualMenu-item,
body .ms-Callout-container .rooster-callout .ms-ContextualMenu-link,
body .ms-Callout-container .rooster-callout .ms-ContextualMenu-itemText {
  line-height: 32px;
}

body .ms-Callout-container .rooster-callout .rooster-command-bar-color-item {
  display: inline-block;
}

.form-dark-theme .html-editor .rooster-wrapper .rooster-editor {
  background-color: rgba(255, 255, 255, 1);
  background-color: var(--component-htmlEditor-background-color,rgba(255, 255, 255, 1));
  color: rgba(0, 0, 0, 0.9);
  color: var(--component-htmlEditor-foreground-color,rgba(0, 0, 0, 0.9));
}

.form-dark-theme .html-editor .rooster-wrapper .rooster-editor pre {
  background-color: rgba( 51, 51, 51 ,  1 );
  background-color: rgba( var(--palette-neutral-80,51, 51, 51) ,  1 );
}

.form-dark-theme .html-editor .rooster-wrapper .rooster-editor blockquote:not([style]) {
  color: rgba(0, 0, 0, 0.9);
  color: var(--component-htmlEditor-foreground-color,rgba(0, 0, 0, 0.9));
  border-left:  solid;
  border-left-color: rgba( 166, 166, 166 ,  1 ) 3px;
  border-left-color: rgba( var(--palette-neutral-30,166, 166, 166) ,  1 ) 3px;
}

.form-dark-theme .html-editor .rooster-wrapper .rooster-editor.view-mode pre {
  background-color: rgba( 234, 234, 234 ,  1 );
  background-color: rgba( var(--palette-neutral-8,234, 234, 234) ,  1 );
}

.form-dark-theme .html-editor .rooster-wrapper .rooster-editor.view-mode,
.form-dark-theme .html-editor .rooster-wrapper .rooster-editor.view-mode *[style] {
  background-color: rgba(255, 255, 255, 1) !important;
  background-color: var(--background-color,rgba(255, 255, 255, 1)) !important;
  color: rgba(0, 0, 0, .9) !important;
  color: var(--text-primary-color,rgba(0, 0, 0, .9)) !important;
}
