.workitem-state-circle {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  width: 8px !important;
  height: 8px !important;
  transition: background-color linear .2s;
}

.workitem-state-value {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 13px);
}
